@import "vars";

header {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;

}


.menu {
  font-size: 14px;

}
.menu__list {
  display: flex;
  flex-direction: row;
}
.menu__item a {
  margin-right: 20px;
  color: rgba(31, 32, 65, 0.5);
}

.header__btn_white {
  width: 87px;
  height: 34px;
  border-radius: 22px;
  border: 2px solid #BC9CFF;
  padding: 10px 20px;
  color: #BC9CFF;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  background: none;
  cursor: pointer;
}

.header__btn_grd {
  border-radius: 22px;
  background: $grnt;
  padding: 10px 20px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.nav-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 769px;
}