header
  .container
    .header
      include ../logo/logo
      .nav-block
        nav.menu
          ul.menu__list
            each val, index in ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения']
              li.menu__item
                if (index == 1 || index == 4)
                  a(href='#')= val+"  "
                    img(src="assets/img/expand_more.svg")
                else
                  a(href='#')= val
        button.header__btn_white ВОЙТИ
        button.header__btn_grd ЗАРЕГИСТРИРОВАТЬСЯ
